In [4]:
#Apply Random forest and SVC for car_evalution dataset

In [11]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [12]:
from collections import Counter
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [16]:
X = data.iloc[:,:-1]
y = data.outcome
from sklearn.preprocessing import LabelEncoder
enc_buy = LabelEncoder()
enc_maint = LabelEncoder()
enc_lug = LabelEncoder()
enc_safety = LabelEncoder()
X.buying = enc_buy.fit_transform(X.buying)
X.maint = enc_maint.fit_transform(X.maint)
X.lug_boot = enc_lug.fit_transform(X.lug_boot)
X.safety = enc_safety.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

# Random Forest

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train ,y_test = train_test_split(X,y,
                            test_size=0.3,random_state=10)

In [95]:
#Defining and fitting
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50,
                               max_features=3,
                               max_depth=12,
                               random_state=10,
                               criterion='entropy')
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=12, max_features=3, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [96]:
# Testing Accuracy
y_predict_test = model.predict(X_test) # Prediction
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict_test))
pd.crosstab(y_test, y_predict_test)

0.9922928709055877

col_0    acc  good  unacc  vgood
outcome
acc      102     0      0      0
good       0    20      0      1
unacc      2     0    369      0
vgood      1     0      0     24

In [92]:
# Training Accuracy
y_predict_train = model.predict(X_train) # Prediction
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train, y_predict_train))
pd.crosstab(y_train, y_predict_train)

1.0

col_0    acc  good  unacc  vgood
outcome
acc      282     0      0      0
good       0    48      0      0
unacc      0     0    839      0
vgood      0     0      0     40

# Support Vector Machine (SVM)

In [100]:
from sklearn.preprocessing import scale
X = pd.DataFrame(scale(X), columns=X.columns)
y = data.outcome

In [118]:
from sklearn.svm import SVC
model = SVC(kernel='rbf',
            C=90,
            gamma = 0.52,)
model.fit(X_train, y_train) # Training

SVC(C=90, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.52, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [119]:
# Testing Accuracy
y_predict_test = model.predict(X_test) # Prediction
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict_test))
pd.crosstab(y_test, y_predict_test)

0.9980732177263969

col_0    acc  good  unacc  vgood
outcome
acc      101     0      1      0
good       0    21      0      0
unacc      0     0    371      0
vgood      0     0      0     25

In [103]:
# Training Accuracy
y_predict_train = model.predict(X_train) # Prediction
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train, y_predict_train))
pd.crosstab(y_train, y_predict_train)

1.0

col_0    acc  good  unacc  vgood
outcome
acc      282     0      0      0
good       0    48      0      0
unacc      0     0    839      0
vgood      0     0      0     40